*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    background-color: #EFEFEF;
    width: 80%;
    height: 70vh;
    padding: 20px;
    margin-top: 2%;
    margin-left: 10%;
}
.-titulo-back{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.-titulo-back .boton{
    align-items: center;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    
}

.-titulo-back .boton:hover i{
    color: #ff1209;
}

.-titulo-back i{
    color: black;
    font-size: 2rem;
}

.-titulo-back h1{
    font-size: 2rempx;
    font-weight: 400;
    margin-left: 2%;
}

.tabla-productos{
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    flex-grow: 1; 
    display: flex; /* Para controlar la tabla real de adentro */
    flex-direction: column;
    width: 100%;
    overflow-y: auto; /* Permite el scroll vertical aquí dentro */
    overflow-x: auto;
}

.tabla-productos::-webkit-scrollbar{
    display: none;
}

.tabla-principal{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; /* Esto mantiene los bordes unidos como si fuera collapse */
    border-radius: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: inset 0 -1px 0 #ddd;
    background-color: #E20A03;
    color: white;
}


td a{
    color: #E20A03;
    cursor: pointer;
    text-decoration: underline;
}
.tb{
    border-radius: 20px;
    padding: 10px;
    border-color: #E20A03;
    color: black;
    background-color: transparent;
}
.tb:hover{
    background-color: #ff1209;
    color: white;
    cursor: pointer;
    
}

.busqueda{
    background-color: white;
    border-radius: 20px;
    border-color: #202020;
    display: flex;
    gap: 5%;
    padding: 10px;
    justify-content: space-between;
    cursor: text;
}

.busqueda .boton{
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.busqueda .barra{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    width: 100%;
}
.busqueda input:focus{
    outline: none;
    border-color: transparent; /* O puedes usar 'border: none;' */
}

/* --- Adaptación para celulares (Responsive Design) --- */

@media (max-width: 768px) {

.contenedor-principal{
    margin-left: 1rem;
    height: 100vh;
    width: 90%;
    padding: 0.5rem;
    flex-direction: column;
}

}
