*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor-principal{
    display: flex;
    border-radius: 20px;
    gap: 1rem;
    background-color: rgba(239, 236, 236, 0.9);
    width: 80%;
    height: 100vh;
    padding: 20px;
    margin-top: 2%;
    margin-left: 10%;
}

.contenedor-izquierdo{
    display: block;
    height: 100%;
}
.-titulo-back{
    display: flex;
    gap: 1rem;
}
.-titulo-back button{
    background-color: transparent;
    border: none;
}
.-titulo-back button i{
    color: black;
    font-size: 2rem;
}

.-titulo-back button:hover i{
    color: red;
}

.foto{
    display: flex;
    align-items: center;
    height: 100%;
}
.editar{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.editar:hover i, .editar:hover p{
    color: red;

}
.editar i{
    font-size: 1.5rem;
    cursor: pointer;
    color: gray;
}
.editar p{
    color: gray;
    font-style: italic;
    font-weight: lighter;
    cursor: pointer;
    font-size: 1.5rem;
}


.l-vertical{
    width: 1px;
    height: 100%;
    border-color: black;
}

.l-horizontal{
    color: black;
    width: 100%;
    border-color: black;
}
.info{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.datos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-principal.editar-info{
    height: fit-content;
    display: none;
}

.contenedor-principal.ocultar{
    display: none;
}

.contenedor-principal.editar-info.visible{
    display: block;
}   

.contenedor-principal.editar-info p{
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}
form{
    margin-top: 2rem;
}
.input-icono{
    background-color: white;
    border-radius: 20px;
    border-color: #202020;
    display: flex;
    gap: 5%;
    padding: 20px;
    cursor: text;
    width: 100%;
    align-items: center;
}
.input-foto i{
    font-size: 1rem;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.divFoto{
    display: flex;
    width: 100%;
}
.preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
}
.preview-foto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}
.input-foto p{
    color: gray;
}
.input-foto{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black dotted 2px;
    width: 50%;
    height: 200px;
}
.input-foto input{
    width: 1px;
    font-size: 1px;
    opacity: 0;
}
input{
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    width: 100%;
}
input:focus{
    outline: none;
}
.foto-pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.boton-confirmar{
    margin-top: 1rem;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    background-color: #E20A03;
    cursor: pointer;
}
.boton-confirmar:hover{
    background-color: #ff1209;
}
@media (max-width: 768px) {
    .contenedor-principal{
        width: 90%;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5%;
    }
    .l-vertical{
        width: 100%;
    height: 1px;
    }
    .info{
        width: 100%;
    }
    .input-foto{
        width: 100%;
    }
    .preview{
        margin-top: 1rem;
        width: 100%;
    }
    .divFoto{
        flex-direction: column;
    }
}