*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden; /* Corta cualquier elemento que intente salirse por los lados */
}
.contenedor{
    background-image: url(../iconos/background.jpg);
    background-size: contain;
    background-color: rgba(39, 39, 39, 0.6);
    background-blend-mode: darken;
}

.logo{
    max-width: 5rem;
}

.derecha{
    gap: 1rem;
    right: 0;
    padding: 1rem;
    margin-left: auto;
    display: flex;
}
.derecha i{
    color: black;
}
.boton-header{
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.menu{
    font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: #ececec;
    
}

.menu-telefono{
    font-size: 1rem;
    display: flex;
    align-items: center;
    display: none;
    background-color: #ececec;
}
.menu-telefono .logo{
    max-width: 4rem;
}

.abrir-menu{
    display: flex;
    align-items: start;
    padding: 1rem;
    color: white;
}
.abrir-menu:hover{
    border-radius: 20px;
    background-color: #ff1209;
    color: white;
}
.abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: start;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 3rem;
    border-radius: 0  2rem 2rem 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    overflow-y: auto;
    z-index: 500;
}

.nav::-webkit-scrollbar{
    display: none;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
    animation: animacion-menu 0.3s linear forwards;
}

@keyframes animacion-menu {
    0%{
        transform: translateX(-100px);
    }    
    10%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(-50px);
    }
}

.nav-list{
    margin-top: 10px;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nav-list.ocultar{
    display: none;
}
.nav-list a{
    border-radius: 20px;
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-list .divAccion{
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
    gap: 5px;
}

.nav-list .divAccion:hover{
    text-decoration: underline;
}

.nav-list .titulo{
    margin-top: 10px;
}
.divAccion .chevron{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav .titulo{
    font-size: 25px;
    font-weight: bold;
}

.menu-principal{
    display: flex;
    background-color: #E20A03;
    align-items: center;
    font-size: 25px;
}

.busqueda input:focus{
    outline: none;
    border-color: transparent; /* O puedes usar 'border: none;' */
}

.nav-bar-telefono{
    display: none;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box; 

}
.nav-bar-telefono button{
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    border: none;  
    cursor: pointer;
}
.nav-bar-telefono button:hover{
    background-color: #ff1209;
}
.nav-bar-telefono button i{
    color: white;
    font-size: 3rem;
}
.list-nav-bar{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.list-nav-bar a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.list-nav-bar .activo{
    border-radius: 20px;
    background-color: #ff1209;
}

.list-nav-bar a:hover{
    border-radius: 20px;
    background-color: #ff1209;
    color: white;
}

.nav-cuenta{
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 80px;
    background-color: #343434;
    border-radius: 20px;
    padding: 10px;
}

.nav-cuenta.visible{
    opacity: 1;
    visibility: visible;
}

.cuenta-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
}
.cuenta-list a{
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.cuenta-list a:hover{
    border-radius: 20px;
    background-color: #202020;
    color: red;
}


.--InputDatos{
    display: none;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 1rem;
}
.--InputDatos .regresar{
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    color: #0000FF;
}

.--InputDatos input{
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1rem;
    border-color: #d5d5d5;
}
.--InputDatos button{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    border-color: #E20A03;
    cursor: pointer;
}

.--InputDatos button:hover{
    color: white;
    background-color: #E20A03;
}
.--InputDatos.visible{
    display: flex;
}

.--InputDatos .botones{
    display: flex;
    gap: 5px;
}

.--InputDatos .botones .guardar{
    width: 100%;
}

/* --- Adaptación para celulares (Responsive Design) --- */

@media (max-width: 768px) {
.contenedor{
    width: 100%;
}
.menu{
    display: none;
}
.menu-telefono{
    display: flex;
}

.menu-principal{
    display: flex;
}


.nav-bar {
    display: none;
}
.abrir-menu i{
    font-size: 3rem;
}

.list-nav-bar{
    gap: 0;
    display: flex;
    align-items: center; /* Alinea los elementos al centro para evitar espacios fantasma */
    height: 100%;
}

.list-nav-bar a{
    white-space: nowrap;
    font-size: 1rem;
    padding: 0.5rem;
}
.abrir-menu{
    padding: 0.5rem;
}

.abrir-menu, .cerrar-menu{
    font-size: 2rem;
}

.nav{
    width: 70%;
}

.contenedor{
    padding: 0.5rem;
    flex-direction: column;
}

.busqueda{
    display: none;
}


.contenedor-izquierda{
    width: 100%;
}
.carrito{
    display: none;
}
.nav-bar-telefono{
    display: flex;
}
}