*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
html, body {
    max-width: 100%;
    overflow-x: hidden; /* Corta cualquier elemento que intente salirse por los lados */
}

.logo{
    max-width: 5rem;
}

.derecha{
    gap: 1rem;
    right: 0;
    padding: 1rem;
    margin-left: auto;
    display: flex;
}
.derecha i{
    color: black;
}
.boton-header{
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.menu{
    font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: #ececec;
    
}

.menu-telefono{
    font-size: 1rem;
    display: flex;
    align-items: center;
    display: none;
    background-color: #ececec;
}
.menu-telefono .logo{
    max-width: 4rem;
}

.abrir-menu{
    display: flex;
    align-items: start;
    padding: 1rem;
    color: white;
}
.abrir-menu:hover{
    border-radius: 20px;
    background-color: #ff1209;
    color: white;
}
.abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: start;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 3rem;
    border-radius: 0  2rem 2rem 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    overflow-y: auto;
    z-index: 500;
}

.nav::-webkit-scrollbar{
    display: none;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
    animation: animacion-menu 0.3s linear forwards;
}

@keyframes animacion-menu {
    0%{
        transform: translateX(-100px);
    }    
    10%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(-50px);
    }
}

.nav-list{
    margin-top: 10px;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nav-list.ocultar{
    display: none;
}
.nav-list a{
    border-radius: 20px;
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-list .divAccion{
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
    gap: 5px;
}

.nav-list .divAccion:hover{
    text-decoration: underline;
}

.nav-list .titulo{
    margin-top: 10px;
}
.divAccion .chevron{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav .titulo{
    font-size: 25px;
    font-weight: bold;
}

.menu-principal{
    display: flex;
    background-color: #E20A03;
    align-items: center;
    font-size: 25px;
}

.busqueda input:focus{
    outline: none;
    border-color: transparent; /* O puedes usar 'border: none;' */
}

.nav-bar-telefono{
    display: none;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box; 

}
.nav-bar-telefono button{
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    border: none;  
    cursor: pointer;
}
.nav-bar-telefono button:hover{
    background-color: #ff1209;
}
.nav-bar-telefono button i{
    color: white;
    font-size: 3rem;
}
.list-nav-bar{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.list-nav-bar a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.list-nav-bar .activo{
    border-radius: 20px;
    background-color: #ff1209;
}

.list-nav-bar a:hover{
    border-radius: 20px;
    background-color: #ff1209;
    color: white;
}

.contenedor{
    display: grid;
    align-items: stretch;
    gap: 5px;
    height: 100vh;
    padding-top: 1.5rem; 
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr; 
    background-image: url(../iconos/background-2.jpeg);
    background-size: contain;
    background-color: rgba(39, 39, 39, 0.6);
    background-blend-mode: darken;
}


.bloque{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bloque.consolas:hover{
    background-blend-mode: lighten;
}
.bloque.consolas:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}
.bloque.consolas{
    background-image: url(../iconos/nintendo_switch2.jfif);
    background-size: contain;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque.juegos:hover{
    background-blend-mode: lighten;
}
.bloque.juegos:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}

.bloque.juegos{
    background-image: url(../iconos/juego.jfif);
    background-size: cover;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque.figuras:hover{
    background-blend-mode: lighten;
}
.bloque.figuras:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}

.bloque.figuras{
     background-image: url(../iconos/figura.avif);
    background-size: cover;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque.accesorios:hover{
    background-blend-mode: lighten;
}
.bloque.accesorios:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}

.bloque.accesorios{
     background-image: url(../iconos/cargador.avif);
    background-size: cover;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque.juguetes:hover{
    background-blend-mode: lighten;
}
.bloque.juguetes:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}

.bloque.juguetes{
     background-image: url(../iconos/juguete.jfif);
    background-size: cover;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque.cartas:hover{
    background-blend-mode: lighten;
}
.bloque.cartas:hover p{
    padding: 5px;
    background-color: rgba(39, 39, 39, 0.7);
    border-radius: 10px;
}

.bloque.cartas{
     background-image: url(../iconos/carta.webp);
    background-size: cover;
    background-color: rgba(39, 39, 39, 0.4);
    background-blend-mode: darken;
}

.bloque p{
    color: white;
    font-size: 1.5rem;
}

.-titulo-back{
     grid-column: 1 / -1;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}
.-titulo-back .boton{
    border: transparent;
    background-color: transparent;
}

.-titulo-back i{
    color: white;
    font-size: 2rem;
}

.-titulo-back h1{

    font-size: 2rem;
    font-weight: 400;
    margin-left: 5%;
}

@media (max-width: 768px) {
    .contenedor{
    background-image: url(../iconos/background-tel.jpeg);
    background-size: contain;
    background-color: rgba(39, 39, 39, 0.6);
    background-blend-mode: darken;
    }
}
