*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    width: 100%;
    height: 70vh;
    padding: 10px;
}
.-titulo-back{
    display: flex;
    align-items: center;
    padding: 10px;
}
.-titulo-back .boton{
    border: transparent;
    background-color: transparent;
}

.-titulo-back i{
    color: black;
    font-size: 2rem;
}

.-titulo-back h1{
    font-size: 2rempx;
    font-weight: 400;
    margin-left: 2%;
}

iframe{
    height: auto;
    bottom: 0;
    border-radius: 20px;
    
}

.mapa{
    display: flex;
    padding: 1rem;
    height: auto;
    bottom: 0;
}

.caja{
    display: flex;
    flex-direction: column;
   
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(161, 161, 161, 0.603) ;
}
.caja .titulo{
    margin: 0; 
    font-size: 1.5rem;
    font-weight: bold;
}
.info{
     width: 40%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1.5rem;
    bottom: 0;
}

.titulo-icono{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
 .titulo-icono i{
    font-size: 1.5rem;
}

.caja.direccion .titulo-icono i{
    color: #E20A03;
}

.caja.horario .fecha{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.caja.contacto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contacto.telefono{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contacto.telefono a{
    color: blue;
    text-decoration: none;
}

.contacto.whatsapp{
    cursor: pointer;
    background-color: #25d366;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    color: white;
    width: fit-content;
    font-weight: bold;
}
@media (max-width: 768px) {
    .mapa{
    flex-direction: column;
    height: 100vh;
    }
    iframe{
        width: 100%;
        height: 70%;
    }
    .info{
    margin-top: 1rem;
    width: 100%;
    margin-left: 0;
    }
    .caja.horario .fecha{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    }
}
